<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header', {primary: "primary", warning: "warning", success: "success"}); %>
</header>

<main>
  <%- include('../partials/main'); %>
  <%- include('../partials/cards'); %>
  <%- include('../partials/bloque-jumbotrons'); %>
</main>

<footer>
  <%- include('../partials/footer', { texto: "Copyright 2023. Este es el texto para el footer desde index."});%>
</footer>

</body>
</html>