<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <h2><%- tagline %></h2>
  <ul>
    <% mascots.forEach(function(mascot) { %>
      <li>
        <strong><%= mascot.name %></strong>
        representing <%= mascot.organization %>,
        born <%= mascot.birth_year %>
      </li>
    <% }); %>
  </ul>
  <%- include('../partials/main'); %>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>